<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <link rel="shortcut icon" href="images/logo.php">
</head>
<body>
<!-- 中部开始 -->
<div class="wrapper">
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <form class="layui-form"  method="post" target="nm_iframe">
                <input type="hidden" id="pid" name="pid" th:value="${#session.getAttribute('parkingMSG').id}">
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>编号
                    </label>
                    <div class="layui-input-inline">
                        <input  onblur="verifyAddress()" type="text" id="number" name="number" required="required" lay-verify="nikename"
                                autocomplete="off" class="layui-input" value="">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label  class="layui-form-label">
                        <span class="x-red">*</span>价格
                    </label>
                    <div class="layui-input-inline">
                        <input  type="text" id="price" name="price" required="required" lay-verify="nikename"
                                autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label  class="layui-form-label">
                        <span class="x-red">*</span>说明
                    </label>
                    <div class="layui-input-inline">
                        <input  type="text" id="explains" name="explains" required="required" lay-verify="nikename"
                                autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div>
                    <label  class="layui-form-label">
                        <span class="x-red">*</span>是否以认筹
                    </label>
                    <div class="layui-input-inline">
                        <select name="identify" id="identify">
                            <option value="">请选择</option>
                            <option value=1 >是</option>
                            <option value=0 >否</option>
                        </select>
                    </div>
                </div>
                <br>
                <div>
                    <label  class="layui-form-label">
                        <span class="x-red">*</span>是否以开盘
                    </label>
                    <div class="layui-input-inline">
                        <select name="open" id="open">
                            <option value="">请选择</option>
                            <option value=1 >是</option>
                            <option value=0 >否</option>
                        </select>
                    </div>
                </div>
                <br>
                <div>
                    <label  class="layui-form-label">
                        <span class="x-red">*</span>是否以售出
                    </label>
                    <div class="layui-input-inline">

                        <select name="sale" id="sale">
                            <option value="">请选择</option>
                            <option value="1" >是</option>
                            <option value="0" >否</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label  class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="add" lay-submit="" onclick="member_add()">
                        增加
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe>
<script>
    function member_add(){
        var i=$("#explains").val();
        var k=$("#sale").val();
                    $.ajax({
                                url: "/admin/addparkinglot2",
                                type: "POST",
                                data: {
                                    "pid": $("#pid").val(), "identify": $("#identify").val(),
                                    "open": $("#open").val(), "number": $("#number").val(),
                                    "price": $("#price").val(), "explain": i,
                                  "sale": k,
                                },
                                success: function (data) {
                                    if(data==''){
                                        layer.msg('添加成功！', {icon: 1, time: 3000});
                                        myrefresh();
                                    }else{
                                        layer.msg(data, {icon: 2, time: 1000});
                                    }
                                }
                            })
    }

    function verifyAddress(){
        $.ajax({
            url: "/admin/verifyNumber",
            type: "GET",
            data: {
                "number": $("#number").val(),"pid": $("#pid").val()
            },
            success: function (data) {
                if(data!='') {
                    layer.msg(data, {icon: 2, time: 1000});
                }
            }
        })

    }

    function myrefresh(){
        window.location.href="/parkinglot?id="+$("#pid").val();
        window.parent.location.href="/parkinglot?id="+$("#pid").val();
    }
</script>
</body>
</html>
