<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ykw.parking.mapper.CountEachMapper">
    <select id="getUserOrder" parameterType="int" resultType="userOrder">
        SELECT * FROM user_order
        <where>
            AND pid=#{pid} AND state=#{state} AND date BETWEEN #{startTime} AND #{endTime}
        </where>
    </select>
</mapper>