<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ykw.parking.mapper.UserOrderMapper">

    <insert id="addOrder" parameterType="userOrder">
        insert into `users`.`user_order` ( `oid`,`uid`, `date`, `pid`, `number`, `city`, `address`, `state`, `price`,`plid`)
        values
            (#{oid},#{uid} ,#{date}, #{pid}, #{number}, #{city},#{address},#{state},#{price},#{plid})
    </insert>
</mapper>